 body {
   padding-top: 0px !important;
    animation: fadein 0.5s;
 }

.jumbotron {
    background-image: url("/assets/img/htmlcode.jpg") !important;
    background-size: cover;
    min-height: 900px !important;
    text-align: center;
    padding: 250px 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
